/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1a0029; /* Roxo escuro */
    color: #ffffff;
}

/* Estilo do título */
h1 {
    text-align: center;
    font-size: 2.5em;
    color: #b84cff; /* Roxo vibrante */
    margin: 20px 0;
    text-shadow: 0 0 10px #b84cff, 0 0 20px #ff00ff;
}

/* Imagens pequenas */
.image-small-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    margin: bottom 10px;;
}

.image-small-container img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid #b84cff; /* Borda roxa */
    border-radius: 8px;
}

/* Imagens grandes */
.image-large-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.image-large-container img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #b84cff; /* Borda roxa */
    border-radius: 10px;
}